td{
	border-bottom: 1px solid #ddd !important;
	border-top: 1px solid #fff !important;
	border-left: 1px solid #fff !important;
	border-right: 1px solid #fff !important;
}
center a {
    color: #000;
}
center{
	background-color: #c74337;
	padding: 20px;
}
 center img	{
	width: 95px;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}
.shadow {
  -moz-box-shadow:    3px 3px 25px 6px #c1c1c1;
  -webkit-box-shadow: 3px 3px 25px 6px #c1c1c1;
  box-shadow:         3px 3px 25px 6px #c1c1c1;
}
.header_1 {
	background-color: #f9f9f9;
	padding: 25px;
}
.header_1 img {
	width : 80px;
}
